.paginate {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgba(52, 73, 94, 0.725);
  border-radius: 15px;
  padding-inline: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
} 

.number {
  font-family: fantasy;
  font-size: 18px;
  padding: 6px;
  margin: 3px 3px 3px 3px;
  border: 2px outset rgb(129, 2, 2);
  border-radius: 10px;
  cursor: pointer;
  color: ghostwhite;
  background-color: rgb(175, 20, 20);
}

.number:hover, .number:focus {
  color: rgba(52, 73, 94, 0.725);
  background-color: rgb(255, 255, 255);
  border: 2px outset rgba(52, 73, 94, 0.725);
}
