.search-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

#btn {
  height: 25px;
  width: 80px;
  border-radius: 10px;
  color:  rgb(129, 2, 2);
  font-size: 14px;
  background-color: rgb(253, 252, 251);
  cursor: pointer;
}

#btn:hover {
  /* height: 30px;
  width: 81px; */
  background-color: rgb(129, 2, 2);
  color: white;
}

#input {
  height: 20px;
  width: 65%;
  border-radius: 10px;
  border-color: rgb(54, 59, 50);
  background-color: rgb(253, 252, 251);
}
