/* .search-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#btn {
  font-family: cursive;
  font-size: 16px;
  min-height: 25px;
  min-width: 90px;
  margin-left: 10px;
  color: ghostwhite;
  background-color: rgb(129, 2, 2);
  border: 2px solid rgb(129, 2, 2);
  border-radius: 10px;
  cursor: pointer;
}

#btn:hover {
  color: rgba(52, 73, 94, 0.725);
  background-color: ghostwhite;
  border: 2px solid rgba(52, 73, 94, 0.725);
}

#input {
  font-family: cursive;
  font-size: 16px;
  min-height: 25px;
  min-width: 200px;
  text-align: center;
  color: rgb(52, 73, 94, 0.725);
  border-radius: 10px;
  border-color: rgb(54, 59, 50);
  background-color: ghostwhite;
} */
