.secondary-text {
  text-align: center;
}

.error404 {
  color: rgb(175, 20, 20);
  font-family: fantasy;
  font-size: 88px;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.error404-sub {
  font-family: cursive;
  font-size: 25px;
  color: goldenrod;
  margin: -10px 0px 0px 0px;
}

.create-new-breed {
  font-family: cursive;
  color: ghostwhite;
  font-size: 18px;
  margin: 25px 0px 50px 0px;
}

.error404-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.breed-create-button, .inicio-button {
  font-family: cursive;
  font-size: 16px;
  min-height: 25px;
  min-width: 15%;
  color: ghostwhite;
  background-color: rgb(175, 20, 20);
  border: 2px solid rgb(175, 20, 20);
  border-radius: 10px;
  cursor: pointer;
}

.breed-create-button:hover, .inicio-button:hover {
  color: rgba(52, 73, 94, 0.725);
  background-color: ghostwhite;
  border: 2px solid rgba(52, 73, 94, 0.725);
}

.main-box1 {
  position: absolute;
  background: white;
  min-width: 99%;
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row
}

.secondary-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 40%;
  height: 60%;
  border: 10px solid rgb(175, 20, 20);
  border-radius: 15px;
  background: rgba(52, 73, 94, 0.725);
}

.text-box1 {
  width: 100%;
  height: 100%;
}
