/* .container-box {
  min-width: 100vh;
  min-height: 100vh;
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 500px;
  height: 500px;
  margin-left: 50%; 

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  background-color: rgba(177, 95, 19, 0.425);
  padding: 6px;
  border-radius: 20px;
  border: solid rgb(179, 91, 19);
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.301);
}

#crear {
  display: flex;
  justify-content: center;
}

.box-breed {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.raza {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: rgba(41, 0, 0, 0.979);
}

.errores {
  color: red;
  margin: 0px;
}

.box-height {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.altura {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: rgba(41, 0, 0, 0.979);
}

#label-altura {
  display: flex;
  justify-content: center;
}

.box-weigth {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#label-peso {
  display: flex;
  justify-content: center;
}

.weigth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: rgba(41, 0, 0, 0.979);
}

.box-age {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.age {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: rgba(41, 0, 0, 0.979);
}

.box-image {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: rgba(41, 0, 0, 0.979);
}

.box-temperamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgba(41, 0, 0, 0.979);
}

.temperamentos {
  display: flex;
  flex-direction: row;
} 

#min-altura {
  width: 10%;
  margin-right: 100px;
}
#max-altura {
  width: 10%;
  margin-left: 100px;
}

#min-peso {
  width: 10%;
  margin-right: 100px;
}
#max-peso {
  width: 10%;
  margin-left: 100px;
}


 */
 


.container-box {
  min-width: 100vh;
  min-height: 100vh;
  /* background: url('../../Imagens/patitas.jpeg') no-repeat;/ */
  background-size: cover;
  /* border: 3px rebeccapurple solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
} 

#create-breed {
  border: 1px solid rgb(5, 49, 145);
}

p {
  margin: 0px;
  font-size: 16px;
}

.form-container {
  border: 3px rebeccapurple solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin-right: 110px;
}

.breed-box {
  border: 2px green solid;
}

.boxes {
  display: flex;
  flex-direction: row;
}
