.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 6px;
}

.breedCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(52, 73, 94, 0.725);
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 290px;
  height: 260px;
  border-radius: 20px;
  border: 3px solid rgb(129, 2, 2);
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.301);
}

.breedCard:hover {
  border: 3px solid #196F3D;
}

/*nueva carta*/
#breed-name {
  display: flex;
  justify-content: center;
  margin: 6px;
  font-family: fantasy;
  font-size: 18px;
  color: rgb(129, 2, 2);
}

.card-image {
  display: flex;
  justify-content: center;
}

#breed-imagen {
  border: 2px outset rgb(129, 2, 2);
  border-radius: 46%;
}

.card-peso {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

#breed-peso {
  margin: 4px 5px 0px 0px;
}

#breed-peso-info {
  margin: 4px 0px 0px 0px;
  font-family: cursive;
}

#breed-temperamentos {
  margin: 4px 0px 0px 0px;
}

#breed-temperamentos-info {
  margin: 0px;
  font-family: cursive;
  font-size: 15px;
}


/*nueva carta*/






/*anterior */
/* .left{
  width: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.rigth{
  width: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.breed-temperamentos {
  display: flex;
  flex-direction: column;
  align-items: center
}

#temperamento {
  margin: 0px;
} */
