.detail-container {
  background: url(../../Imagens/patitas.jpg) no-repeat;
  min-width: 100vh;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(52, 73, 94, 0.91);
  padding: 5px;
  margin: 0% 10% 0% 10%;
  min-width: 80%;
  height: 500px;
  border-radius: 20px;
  border: 3px solid rgb(129, 2, 2);
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.301);
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#breed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: fantasy;
  font-size: 28px;
  color: rgb(129, 2, 2);
  margin: 10px 0px 10px 0px;
}

.sides-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 5% 0px 0px 0px;
}

#breed-image {
  border: 2px outset rgb(129, 2, 2);
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.301);
  border-radius: 15%;
  width: 450px; 
  height: 450px
}

.left-side {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.rigth-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid rgb(129, 2, 2);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  margin-left: 70px;
  margin-right: 10px;
}

.details-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;  
  box-sizing: border-box;
}

#details {
  margin: 0px;
  font-size: 20px;
  border-bottom: 2px solid rgb(129, 2, 2); 
}

.subtitulos-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin:0px;
  border-bottom: 3px solid rgb(129, 2, 2);
}

.subtitulos {
  margin: 0px 10px;
  font-size: 18px;
  color: burlywood;
}

p {
  font-family: cursive;
  font-size: 17px;
  color: aliceblue
}

#parraf-tempers {
  margin: 10px;
  font-family: cursive;
  font-size: 17px;
}

.volver-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

#volver-btn {
  position: absolute;
  font-family: cursive;
  font-size: 20px;
  color:ghostwhite;
  background-color: rgb(129, 2, 2);
  bottom: 2%;
  left: 47%;
  min-height: 35px;
  min-width: 7%;
  border-radius: 15px;  
  cursor: pointer;
}

#volver-btn:hover {
  color: rgb(129, 2, 2); 
  background-color: white;
}

@media screen and (max-width: 1050px) {
  #breed-image {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 950px) {
  #breed-image {
    width: 350px;
    height: 380px;
  }
  #breed-title {
    font-size: 24px;
  }
  .subtitulos, p, #parraf-tempers {
    font-size: 16px;
  }
}

@media screen and (max-width: 840px) {
  #breed-image {
    width: 300px;
  }
}

@media screen and (max-width: 770px) {
  .detail {
    height: 450px;
  }
  .left-side, .rigth-side {
    width: 50%;
  }
  #breed-image {
    width: 250px;
  }
  #breed-title {
    font-size: 20px;
  }
  .subtitulos, p, #parraf-tempers {
    font-size: 14px;
  }
}

@media screen and (max-width: 660px) {
  .detail-container {
    min-width: 100%;
  }
  .detail {
    width: 100%;
    margin: 0px 5px 0px 5px;
    padding: 0px;
  }
  #breed-image {
    width: 200px;
  }
}

@media screen and (max-height: 650px) {
  .detail {
    height: 400px;
  }
}

@media screen and (max-height: 520px) {
  .detail {
    height: 300px;
  }
  #breed-title {
    font-size: 20px;
  }
  .subtitulos, p, #parraf-tempers {
    font-size: 14px;
  }
}
