.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: space-evenly;
  justify-items: center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 3px;
}

.breedCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(52, 73, 94, 0.725);
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  width: 290px;
  height: 255px;
  border-radius: 20px;
  border: 3px solid rgb(175, 20, 20);
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.301);
}

.breedCard:hover{
  border-color: #196F3D;
}

#breed-name {
  display: flex;
  justify-content: center;
  margin: 6px;
  font-family: fantasy;
  font-size: 18px;
  color: rgb(175, 20, 20);
}

.card-image {
  display: flex;
  justify-content: center;
}

#breed-imagen {
  border: 2px outset rgb(175, 20, 20);
  border-radius: 46%;
}

.card-peso {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

#breed-peso {
  margin: 4px 5px 0px 0px;
}

#breed-peso-info {
  margin: 4px 0px 0px 0px;
  font-family: cursive;
}

#breed-temperamentos {
  margin: 4px 0px 0px 0px;
}

#breed-temperamentos-info {
  margin: 0px;
  font-family: cursive;
  font-size: 15px;
}

.single-card-box {
  display: flex;
  justify-content: center;
  width: fit-content
}

@media screen and (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 665px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
