.navbar-container {
  background-color: rgba(52, 73, 94, 0.725);
  min-width: 100%;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 50px;
  margin: 4px 0px 0px auto;
  cursor: pointer;
}

.breed-create {
  font-family: cursive;
  font-size: 16px;
  min-height: 25px;
  min-width: 100%;
  color: ghostwhite;
  background-color: rgb(175, 20, 20);
  border: 2px solid rgb(175, 20, 20);
  border-radius: 10px;
  cursor: pointer;
}

.breed-create:hover {
  color: rgba(52, 73, 94, 0.725);
  background-color: ghostwhite;
  border: 2px solid rgba(52, 73, 94, 0.725);
}

.filtros-orden {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  border: 1px rgb(247, 242, 0) solid;
  margin-right: 70px;
}

.filters, .sort, .temperamentos-options {
  font-family: cursive;
  font-size: 16px;
  text-align: center;
  height: 30px;
  min-width: 10%;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: rgba(52, 73, 94, 0.725);
  background-color: ghostwhite;
  border: 2px solid rgba(52, 73, 94, 0.725);
}

select:hover {
  background-color: rgb(175, 20, 20);
  color: ghostwhite;
  border: 2px solid rgba(52, 73, 94, 0.725);
}

.search-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#btn {
  font-family: cursive;
  font-size: 16px;
  min-height: 25px;
  min-width: 90px;
  margin-left: 10px;
  color: ghostwhite;
  background-color: rgb(175, 20, 20);
  border: 2px solid rgb(175, 20, 20);
  border-radius: 10px;
  cursor: pointer;
}

#btn:hover {
  color: rgba(52, 73, 94, 0.725);
  background-color: ghostwhite;
  border: 2px solid rgba(52, 73, 94, 0.725);
}

#input {
  font-family: cursive;
  font-size: 16px;
  min-height: 25px;
  min-width: 200px;
  text-align: center;
  color: rgb(52, 73, 94, 0.725);
  border-radius: 10px;
  border: 1px solid rgb(52, 73, 94, 0.725);
  background-color: ghostwhite;
}
